@{
    ViewData["Title"] = "NFT Products";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
  @foreach (var myModel in Model)
  {
    string accordionId = "accordion-" + myModel.OrderId;
    string collapseId = "collapse-" + myModel.OrderId;
    <div class="accordion-item">
      <h2 class="accordion-header" id="@accordionId">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#@collapseId" aria-expanded="false" aria-controls="@collapseId">
          #@myModel.OrderId   <strong>@myModel.ProductName</strong>  -  Ordered on: @myModel.OrderDate
        </button>
      </h2>
      <div id="@collapseId" class="accordion-collapse collapse" aria-labelledby="@accordionId" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <img src=@myModel.ImgLink class="img-fluid">
        </div>
      </div>
    </div>
  }
</div>

