@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <img class="card-img-top" src="@Model.ImgLink" alt="Card image cap">
    <p>Name: @Model.Name</p>
    <p>Description: @Model.Description</p>
    <p>Author: @Model.CreatedBy</p>
    <p>Category: @Model.Category</p>
    <p>Price @Model.Cost</p>
    <a class="btn btn-primary">Buy</a>
</div>




